<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- Font-awesome(icon) -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <!-- Google Meterial Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>DOM 物件: Form</title>
</head>
<body style="padding: 2% 10%">
  <h3>DOM 物件: Form</h3>
  <br />

  <!-- HTML UI -->
  <div class="container-fluid">
    <form>
      <div class="form-group">
        <h2>input & label & small</h2>
        <label for="email">電子信箱</label>
        <input type="email" id="email" class="form-control" placeholder="Enter Email" value="hello@gmail.com">
        <small id="emailHelp" class="form-text text-muted">您提供的信箱絕不外流</small>
      </div>
    </form>
  </div>
  <hr />
  <div id="appEmail" class="container-fluid mt-2">
    <h2>input: email</h2>
    <form class="form-inline" @submit.prevent="onSubmit"> <!-- @submit.prevent: 送出表單後畫面不會重新載入 -->
      <div class="form-group mb-2">
        <label for="staticEmail" class="sr-only">Email</label>
        <!--<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">-->
        <input type="text" class="form-control" id="staticEmail" placeholder="Email" v-model:value="email">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="password"
          minlength="4" maxlength="8">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Login</button>
    </form>
    {{ email }} - {{ password }}
  </div>
  <hr />
  <div id="appTrim" class="container-fluid mt-2">
    <h2>input.trim</h2>
    <form class="form-inline" @submit.prevent="onSubmit">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" id="staticEmail" placeholder="Email" v-model:value="email">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" class="form-control" id="inputPassword" placeholder="Password" v-model.trim="password"
          minlength="4" maxlength="8">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Login</button>
    </form>
    {{ email }} - {{ password }}( {{ password.length }} )
  </div>
  <hr />
  <div id="appNumber" class="container-fluid mt-2">
    <h2>input.number</h2>
    <h4>未設定 number</h4>
    <form class="form-inline" @submit.prevent="onSubmitStr">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#1</span>
        </div>
        <input type="text" class="form-control" placeholder="Number 1" v-model="str1"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      &nbsp;<i class="fas fa-plus-circle"></i>&nbsp;
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#2</span>
        </div>
        <input type="text" class="form-control" placeholder="Number 2" v-model="str2"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <br />
      <button type="submit" class="btn btn-primary mb-3 ml-2"><i class="fas fa-calculator"></i></button>
    </form>
    <h4>設定 number</h4>
    <form class="form-inline" @submit.prevent="onSubmitNum">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#1</span>
        </div>
        <input type="text" class="form-control" placeholder="Number 1" v-model.number="nbr1"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      &nbsp;<i class="fas fa-plus-circle"></i>&nbsp;
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#2</span>
        </div>
        <input type="text" class="form-control" placeholder="Number 2" v-model.number="nbr2"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <button type="submit" class="btn btn-primary mb-3 ml-2"><i class="fas fa-calculator"></i></button>
    </form>
  </div>
  <hr />

  <!-- CDN: Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Vue Instance -->
  <script>
    new Vue({
      el: '#appEmail',
      data: {
        email: '',
        password: ''
      },
      methods: {
        onSubmit() {
          alert(`輸入的 Email: ${ this.email } - Password: ${ this.password }`)
        }
      }
    })
    new Vue({
      el: '#appTrim',
      data: {
        email: '',
        password: ''
      },
      methods: {
        onSubmit() {
          alert(`輸入的 Email: ${ this.email } - Password: ${ this.password }`)
        }
      }
    })
    new Vue({
      el: '#appNumber',
      data: {
        str1: '',
        str2: '',
        nbr1: 0,
        nbr2: 0,
      },
      methods: {
        onSubmitStr() {
          console.log('this.str1 type is number? ' + (typeof this.str1 === 'number'))
          console.log('this.str2 type is number? ' + (typeof this.str2 === 'number'))
          alert(`兩數字相加 = ${ this.str1 + this.str2 }`)
        },
        onSubmitNum() {
          console.log('this.nbr1 type is number? ' + (typeof this.nbr1 === 'number'))
          console.log('this.nbr2 type is number? ' + (typeof this.nbr2 === 'number'))
          alert(`兩數字相加 = ${ this.nbr1 + this.nbr2 }`)
        }
      }
    })
  </script>
</body>
</html>